body{
  overflow: hidden;
  background-color: #96DED1;
}
img.weaponSelect{
  max-width: 100%;
  max-height: 100%;
}
button.weaponSelect{
  width: 30%;
  max-height: 100%;
}
div.GunSelection{
  position: relative;
  top: 20px;
  left: 20%;
}
#respawn{
  position: absolute;
  left: 42%;
  top: 50%;
  background-color: limegreen;
  visibility: hidden;
}